* {
  margin: 0;
  border: none;
  font-family: "JetBrains Mono";
  font-weight: 700;
  font-size: 12px;
  min-height: 0;
}
window#waybar {
  background: rgba(0, 0, 0, 0);
}

#clock,
#cpu,
#memory,
#temperature,
#battery,
#pulseaudio,
#network,
#backlight,
#tray {
  padding: 0px 16px;
  margin: 3px 3px;
  /* border-bottom: 1px solid; */
  /* border-top: 1px solid; */
  background: rgba(0, 0, 0, 0.85);
  border-radius: 12pt 12pt 12pt 12pt;
}

/* #clock, */
/* #cpu, */
/* #memory, */
/* #temperature { */
/*   border-radius: 12pt 10 12pt 0; */
/* } */
/**/
/* #battery, */
/* #pulseaudio, */
/* #network, */
/* #backlight, */
/* #tray { */
/*   border-radius: 12pt 0 0pt 10; */
/* } */

#clock {
  color: #458588;
  border-color: #458588;
}

#cpu {
  color: #b16286;
  border-color: #b16286;
}

#memory {
  color: #d65d0e;
  border-color: #d65d0e;
}

#temperature {
  color: #689d6a;
  border-color: #689d6a;
}
/* ------------------------------- */

#tray {
  color: #d65d0e;
  border-color: #d65d0e;
}

#pulseaudio {
  color: #689d6a;
  border-color: #689d6a;
}

#pulseaudio.muted {
  padding: 0 20px;
  color: #cc241d;
  border-color: #cc241d;
}

#network {
  color: #d65d0e;
  border-color: #d65d0e;
}

#backlight {
  color: #b16286;
  border-color: #b16286;
}

#battery {
  color: #458588;
  border-color: #458588;
}
#workspaces {
  /* Y: pading values:  top | right | bottom | left */
  padding: 0 0 0 16px;
  margin: 3px 0;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 12pt 0 0 12pt;
}
#window {
  padding: 0 16px 0 0;
  margin: 3px 0;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 0 12pt 12pt 0;
}

/* Workspace Buttons */
#workspaces button label {
  color: #ffffff;
  border-radius: 50%;
  font-size: 18px;
}
#workspaces button.active label {
  padding: 0 0;
  border-radius: 50%;
}
#workspaces button.active {
  padding: 0px 16px;
  border-radius: 5pt 5pt 5pt 5pt;
  border-bottom: 2px solid #d65d0e;
}
