* {
  margin: 0;
  border: none;
  font-family: "JetBrains Mono";
  font-weight: 600;
  font-size: 12px;
  min-height: 0;
}
window#waybar {
  background: rgba(0, 0, 0, 0);
}

#clock,
#cpu,
#memory,
#temperature,
#battery,
#pulseaudio,
#network,
#backlight,
#tray {
  padding: 3px 8px;
  margin: 2px 4px;
  border-bottom: 1px solid;
  border-top: 1px solid;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 5pt 5pt 5pt 5pt;
}

/* #clock, */
/* #cpu, */
/* #memory, */
/* #temperature { */
/*   border-radius: 10pt 10 10pt 0; */
/* } */
/**/
/* #battery, */
/* #pulseaudio, */
/* #network, */
/* #backlight, */
/* #tray { */
/*   border-radius: 10pt 0 0pt 10; */
/* } */

#clock {
  color: #458588;
  border-color: #458588;
}

#cpu {
  color: #b16286;
  border-color: #b16286;
}

#memory {
  color: #d65d0e;
  border-color: #d65d0e;
}

#temperature {
  color: #689d6a;
  border-color: #689d6a;
}
/* ------------------------------- */

#tray {
  color: #d65d0e;
  border-color: #d65d0e;
}

#pulseaudio {
  color: #689d6a;
  border-color: #689d6a;
}

#pulseaudio.muted {
  padding: 0 20px;
  color: #cc241d;
  border-color: #cc241d;
}

#network {
  color: #d65d0e;
  border-color: #d65d0e;
}

#backlight {
  color: #b16286;
  border-color: #b16286;
}

#battery {
  color: #458588;
  border-color: #458588;
}

/* Workspace Buttons */
#workspaces button label {
  font-size: 16px;
  color: #000000;
  padding: 2px 2px;
  background: rgba(0, 0, 0, 0);
}
#workspaces button.active label {
  padding: 0 0;
  min-width: 30px;
  font-size: 18px;
  background: rgba(0, 0, 0, 0);
}
#workspaces button.active {
  min-width: 30px;
  font-size: 22px;
  background: #d65d0e;
  border-radius: 0 0 0 0;
}
